@charset "utf-8";
body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    color: #333;
}
.inner {
    width: 1280px;
    margin: 0 auto;
}

.gnb li.on a{
    color: #3C1152;
    font-weight: 700;
}

section {
    width: 100%;
    margin: 0 auto;
}

li {
    float: left;
}
/* zhs */
article.content-header {
    width: 100%;
    height: 320px;
    background-image: url(../img/bg_banner2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
    position: relative;
}

.content-header h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
}

.content-header h2 span {
    font-size: 18px;
    color: #8121DD;
}

.content-header .lnb {
    position: absolute;
    left: 50%;
    bottom: -63px;
    transform: translateX(-50%);
}

.content-header .lnb p {
    display: inline-block;
    padding: 4px 16px;
    font-size: 16px;
    border: 1px solid #878783;
    border-radius: 30px;
    color: #878784;
    cursor: pointer;
}

nav.lnb p~p {
    margin-left: 8px;
}

.lnb p.on {
    background-color: #5B1A7C;
    border: 1px solid #5B1A7C;
    color: #fff;
}

.lnb p:hover {
    color: #5B1A7C;
    background-color: #FBFAFF;
    border: 1px solid #5B1A7C;
}