@charset "utf-8";

footer {
    width: 100%;
    background-color: #1B032D;
    color: rgba(255, 255, 255, 0.8);
    max-width: 1920px;
}

footer  {}
footer .footer-top {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    outline: 1px solid #fff;
}

footer .footer-top .footer-logo {
}

.footer-top .footer-logo img {
    display: block;
}

footer .footer-top ul {
}

.footer-top ul li {
    font-size: 12px;
}
.footer-top ul li a {
    color: rgba(255, 255, 255, 0.8);
}
.footer-top ul li~li {
}


.footer .copyright {

    height: 200px;
}

.footer .copyright .info {
    margin: 20px 0;
    font-size: 12px;
}

.copyright .info p:first-child {
    margin-bottom: 10px;
    font-weight: 500;
}

.ccm a {
    display: inline-block;
    width: 30px;
    margin-right: 2%;
    vertical-align: middle;
}

.ccm a img {
    width: 100%;
    display: block;
}

.ccm .des {
    display: inline-block;
    vertical-align: middle;
}

.ccm .des p {
    font-size: 12px;
}


footer .footer-top .call {
    text-align: right;
    margin: 30px 0;
    font-size: 12px;
}

.call .callcenter {
    margin-bottom: 10px;
}

.call .callcenter p {
    display: inline-block;
    font-weight: 500;
}

.call .callcenter p a {
    color: rgba(255, 255, 255, 0.8);
}
.call .callcenter p:last-child {
    font-size: 18px;
}

.call .time {
    margin-bottom: 20px;
}
.call .time p {
    font-size: 12px;
}
.call .sns-btn {
    height: 32px;
   
}
.call .sns-btn a {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.call .sns-btn a~a {
    margin-left: 2%;
}
.call .sns-btn a.kakao {
  background: url(../img/icon/icon_talk.png) no-repeat ;
  background-size: auto 32px;
}
.call .sns-btn a.kakao:hover {
    background: url(../img/icon/icon_talk_on.png) no-repeat ;
    background-size: contain;
}
.call .sns-btn a.insta {
    background: url(../img/icon/icon_insta.png) no-repeat;
    background-size: contain;
}
.call .sns-btn a.insta:hover {
    background: url(../img/icon/icon_insta_on.png) no-repeat;
    background-size: contain;
}
.call .sns-btn a.facebook {
    background: url(../img/icon/icon_facebook.png) no-repeat;
    background-size: contain;
}
.call .sns-btn a.facebook:hover {
    background: url(../img/icon/icon_facebook_on.png) no-repeat;
    background-size: contain;
}