@charset "utf-8";

header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header .wrap {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
    align-items: center;
    margin: 0 auto;
}

header .logo {
    width: 160px;
}

.logo a {
    width: 100%;
}

.logo a img {
    width: 100%;
    display: block;
}
header .wrap .header_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
header nav .gnb {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.gnb li {
    padding: 0px 24px;
}

header .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.login .icon-btn {
    height: 24px;
}

.icon-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header_btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #782D9E;
    background-image: linear-gradient(to bottom right, #782c9e, #5B1A7C, #3C1152);
    padding: 4px 20px 6px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
}


/* 기본헤더 */
header.transparent {
    height: 120px;
    background-color: transparent;
}

header.transparent a {
    color: #fff;
}

header.transparent .wrap {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

header.transparent .wrap .header_bottom {
    width: 100%;
    justify-content: center;
    gap: 40px;
    align-items: center;
}