@charset "utf-8";

/* header */
header {
    width: 100%;
    height: 120px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}

header .top {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header .top .logo {
}
.top .logo a{
    height: 32px;
}
.top .logo a img{
    display: block;
    height: 100%;
}

.top nav.gnb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -22%);
}

.top .gnb ul li {
    padding: 0 16px;
}

.top .gnb ul li a {
    font-size: 18px;
}

.top .login {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.top .login .icon-btn {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}
.top .login .icon-btn img {
    height: 100%;
    display: block;
}


header .top .login .btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 100px;
    color: #3C1152;
    background: url(../img/icon/btn_more_on.png) no-repeat 148px 23px /8px;
    background-color: #FBFAFF;
    border-radius: 100px;
    vertical-align: middle;
    letter-spacing: -0.5px;
}