@charset "utf-8";
/* 

*/
body{
    font-family: 'S-Core Dream 4';
    font-weight: 400;
    color : #333;
}
section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
article.sliderbanner {
    width: 100%;
    height: 700px;
    padding-top: 120px;
    overflow: hidden;
    margin-bottom: 80px;
    position: relative;

}

.sliderbanner .banner {
    width: 500%;
}

.banner .banner-box {
    float: left;
    width: 20%;
}

.banner .banner-box a {
    display: block;
}

.banner .banner-box a img {
    display: block;
    height: 100%;
}

.sliderbanner .btn-prev {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.sliderbanner .btn-next {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
/* custom */
article.custom {
    width: 100%;
    background-image: url(../img/bg_custom.png);
    background-repeat: no-repeat;
    background-size: 100% 57%;
    background-position: left bottom;
    padding-bottom: 80px;
}

.custom .title {
    text-align: center;
    margin-bottom: 120px;
}

.custom .title h2 {
    font-family: 'S-Core Dream 7';
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}

.custom .title p {
    color:#595959;
    margin-bottom: 40px;
    line-height: 28px;
}

.custom .title .btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 100px;
    background: url(../img/icon/btn_more.png) no-repeat 148px 23px /8px;
    background-color: #F7F7F7;
} 
.custom .title .btn:hover {
    color: #3C1152;
    background: url(../img/icon/btn_more_on.png) no-repeat 148px 23px /8px;
    background-color: #FBFAFF;
}

.custom ul {
    width: 1280px;
    margin: 0 auto;
}


.custom ul li {
    width: 32%;
    position: relative;
}

.custom ul li~li {
    margin-left: 2%;
}


ul li .imgbox {
    width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 30px;
}
li .number {
    font-family: 'S-Core Dream 8 ';
    font-size: 60px;
    font-weight: 800;
    color:#3C1152;
    position: absolute;
    left: 25px;
    top: -46px; 
}

ul li .imgbox img {
    width: 100%;
}

.custom ul li .desbox {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-50%);
    padding: 24px 24px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #FBFAFF;
}

.desbox .des h3 {
    font-size: 24px;
    font-family: 'S-Core Dream 7 ';
    font-weight: 700;
    margin-bottom: 4px;
}

.desbox .des p {
    line-height: 28px;
    letter-spacing: -0.7px;
    color: #595959;
}

.custom .icon-wrap1 .icon-box {
    float: left;
    margin-bottom: 4%;
    width: 22%;
}

.custom .icon-wrap1 .icon-box~.icon-box {
    margin-left: 4%;
}

.icon-wrap1 .icon-box .icon {
    text-align: center;
    float: left;
    width: 40%;
    text-align: center;
}

.icon-wrap1 .icon-box .icon img {
    width: 88px;
}

.icon-wrap1 .icon-box .des {
    float: left;
    width: 60%;
    color: rgba(255, 255, 255, 0.8);
}

.icon-box .des h4 {
    font-family: 'S-Core Dream 5 ';
    font-weight: 500;
    margin-bottom: 4px;
}

.icon-box .des p {
   
}

.custom .icon-wrap2 .icon-box {
    float: left;
    width: 22%;
    /*     position: relative;
    left: 0;
    top: 0; */
    transform: translateX(50%);
}

.custom .icon-wrap2 .icon-box~.icon-box {
    margin-left: 4%;
}

.icon-wrap2 .icon-box .icon {
    text-align: center;
    float: left;
    width: 40%;
    text-align: center;
}

.icon-wrap2 .icon-box .des {
    float: left;
    width: 60%;
    color: #fff;
}

article.review {
    width: 100%;
    padding: 80px 0;
}

article.review h2 {
    font-family: 'S-Core Dream 7';
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 80px;
}
/* review */

.review .slider {
    width: 100%;
    overflow: hidden;
}

.review .slider .box-wrap {
    width: 200%;
    padding: 30px 0;
}

.review .slider .box-wrap .box {
    
    float: left;
    width: 7.5%;
    margin-left: 2%;
    height: 260px;
    padding: 24px ;
    background-color: #fff;
    box-shadow: 0 0 8px #5B1A7C;
    border-radius: 30px;
    box-sizing: border-box;
}

.review .box a .rev-top {
    position: relative;
    margin-bottom: 16px;
}

.review .box a .rev-top p:first-child {
    font-size: 14px;
    background-color: #A050CC;
    padding: 2px 6px;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
}

.review .box a .rev-top p:last-child {
    font-size: 14px;
    color: #878484;
    position: absolute;
    right: 0;
    bottom: 0;
}

.review .box a .rev-bottom {
    margin-bottom: 18px;
}

.review .box a .rev-bottom p:first-child {
    font-family: 'S-Core Dream 5 ';
    font-weight: 500;
    margin-bottom: 8px;
}

.review .box a .rev-bottom p:last-child {
    color:#595959;
    line-height: 28px;
    height: 100px;
    overflow: hidden;
}

.review .box a.btn {
    text-align: right;
    display: block;
}

article.pill {
    width: 100%;
    padding: 120px 0;
    border-radius: 500px 0 0 500px;
    margin-bottom: 120px;
    background-color: #FBFAFF;
}

article.pill .title {
    margin-bottom: 80px;
    text-align: center;
}

article.pill .title h2 {
    font-family: 'S-Core Dream 7';
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}

.pill .title p {
    color: #595959;
    line-height: 28px;
    margin-bottom: 32px;
}

.pill .title .btn {
    font-size: 14px;
    color: #878484;
    cursor: pointer;
}

.pill ul {
    width: 100%;
}

.pill ul li.product {
    width: 28%;
    padding: 0 45px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 4%;
    margin-bottom: 4%;
    box-shadow: 4px 4px 4px #d9d9d9;
    position: relative;
}

.pill ul li:nth-child(3n) {
    margin-right: 0;
}

.product a {}

.product a div {
    float: left;
    width: 50%;
}

.product a .pill-img {
    height: 120px;
}

.product .pill-img img {
    height: 100%;
}

.product a .info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product a .info .tag {
    font-size: 14px;
    color: #878484;
    margin-bottom: 4px;
}
.product a .info .txt {
    font-family: 'S-Core Dream 5 ';
    font-weight: 500;
}
.product a .info .tag span{
    margin-right: 4px;
}


article.magazine {
    width: 100%;
    margin-bottom: 80px;
}

.magazine .magazine-top {
    position: relative;
    margin-bottom: 80px;
}

.magazine .magazine-top h2 {
    font-family: 'S-Core Dream 7';
    font-size: 28px;
    font-weight: 700;
}

.magazine .magazine-top nav {
    color: #595959;
    position: absolute;
    bottom: 0;
    right: 0;
}

.magazine-top nav ul li a {
    display: inline-block;
    padding: 0 12px;
}

.magazine ul li.magazine-box {
    float: left;
    width: 32%;
}


.magazine ul li.magazine-box~li.magazine-box {
    margin-left: 2%;
}

.magazine ul .magazine-box a {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
}

.magazine ul .magazine-box img {
    width: 100%;
    display: block;
    transition: all 0.6s;
    
}
.magazine-box a:hover img {
    transform: scale(1.2);
}

ul .magazine-box .title-box {}

.title-box h3 {
    font-family: 'S-Core Dream 5 ';
    font-weight: 400;
    margin-bottom: 4px;
}

.title-box p {}

.title-box p span {
    font-size: 14px;
    color: #878484;
}

/* q&a */
article.qa {
    margin-bottom: 80px;
}

article.qa {}

.qa .service {
    float: left;
    width: 49%;
    box-sizing: border-box;
    margin-right: 2%;
}

.qa .service h3 {
    font-family: 'S-Core Dream 5';
    font-weight: 500;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
}

.qa .service p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #292929;
}
.qa .service p a {
    font-size: 14px;
    color: #878484;
}

.qa .notice {
    float: left;
    width: 49%;
    box-sizing: border-box;
}

.qa .notice h3 {
    font-family: 'S-Core Dream 5 ';
    font-weight: 500;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
}

.qa .notice p {
    font-size: 14px;
    margin-bottom: 16px;
    color: #595959;
}

.qa .notice p a {
    font-size: 14px;
    color: #878484;
}
