@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

nav ul.side-pager {
    position: fixed;
    font-weight: 600;
    left: 2%;
    bottom: 2%;
    z-index: 10;
}

nav ul.side-pager li {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    position: relative;
    float: none;
    cursor: pointer;
}

nav ul.side-pager li::after {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: -17px;
    top: 15px;
}

nav ul.side-pager li.on a {
    color: #fff;
}

nav ul.side-pager li.on::after {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: -17px;
    top: 15px;
}

/* section */
section#mypuzzle {
    width: 100%;
    height: 100%;
    background: url(../img/brand.jpg) no-repeat center /cover;
}

#mypuzzle .title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    z-index: 1;
    background-color: transparent;
}

#mypuzzle .title h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
    display: none;
}

#mypuzzle .title p {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    display: none;
}

/* section */

section.page {
    width: 100%;
    height: 100%;
}

#analyze {
    background: url(../img/brand_list1.jpg) no-repeat center/cover;
    position: relative;
}

#analyze::before,
#consult::before,
#quality::before {
    content: "";
    width: 55%;
    height: 2px;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 1;
}

section .des-box {
    position: absolute;
    right: 10%;
    top: 20%;
}

#consult {
    position: relative;
    background: url(../img/brand_list2.jpg) no-repeat center/cover;
}

#quality {
    position: relative;
    background: url(../img/brand_list3.jpg) no-repeat center/cover;
}

.page .des-box .subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 60px;
}

.page .des-box .des {
    font-size: 18px;
    line-height: 28px;
    color: #fff;

}

.page .des-box .des h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

/* 버튼 */
.btn-more {
    border-radius: 100px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 98;
}

.btn-more a {
    display: block;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
    color: #fff;

    background-image: url(../../img/icon/scroll1.png);
    background-repeat: no-repeat;
    background-position: center 14px;

    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}