@charset "utf-8";
body {
    width: 100%;
    margin-top: 80px;
    overflow-x: hidden;
}

section .section-top {
    font-size: 16px;
    color: #878484;
    font-weight: 500;
    padding: 120px 0 40px;
}

section .section-top .filter {
    float: right;
}
section .section-top .filter p span:last-child {
    margin-left: 16px;
}
.section-top .count {
    float: left;
}
.section-top .count span{
    font-size: 20px;
    font-weight: 500;
    color: #5B1A7C;
}

article.list {
    margin-bottom: 80px;
}

.list ul li {
    float: left;
    width: 31%;
    margin: 1%;
    box-sizing: border-box;
    margin-bottom: 2%;
    position: relative;
}


ul li a p.badge-issue {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #9747FF;
    background-color: #9747FF;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    z-index: 99;
}
ul li a p.badge-vitamin {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #10A19D;
    background-color: #10A19D;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    z-index: 99;
}
ul li a p.badge-life {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #3C1152;
    background-color: #3C1152;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    z-index: 99;
}

ul li a .img-box {
    margin-bottom: 16px;
    overflow: hidden;
}

ul li a .img-box img {
    width: 100%;
    display: block;
    transition: all 0.6s;
}
ul li a .img-box:hover img {
    transform: scale(1.2);
}

ul li a .title {
    font-size: 18px;
    padding: 0 0 10px;
}
li a .title h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
li a .title .tag {
    display: inline-block;
    font-size: 14px;
    color: #878484;
}

li a .title .tag span {
    color: #A050CC;
}
