@charset "utf-8";

body {
    width: 100%;
    margin-top: 80px;
    height: 100vh;
    box-sizing: border-box;
}

section {
    position: relative; /* after의 기준 요소 */
    height: calc(100vh - 80px - 240px);
    background-image: url(../img/login_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
}

section::after {
    content: "";
    position: absolute;  /* 부모 기준으로 위치 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.025);
}

section div.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 40px 0 20px;
    z-index: 3;
    border-radius: 10px;
}

.login form fieldset {
    border: none;
    margin-bottom: 30px;
}

.login form fieldset legend {
    font-size: 0;
}

.login form fieldset > div{
    width: 300px;
    margin: 0 auto;
}

.login form fieldset div> label {
    font-size: 12px;
    display: block;
    margin-bottom: 8px;
}
input::placeholder {
    color: #999;
}
.login form fieldset div > input {
    width: 100%;
    padding: 10px 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border: none;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.login form fieldset label input[type=checkbox] {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-right: 10px;
}

.login form .btn {
    display: block;
    width: 300px;
    margin: 0 auto 30px;
    background-color: #5B1A7C;
    color: #fff;
    padding: 10px ;
    border-radius: 5px;
    box-sizing: border-box;

}

.login form .icon-box {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


.login form .icon-box .icon {
    width: 40px;
}

.login form .icon-box .icon img {
    width: 100%;
}

.login .registe {
    width: 300px;
    margin: 20px auto 40px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login .registe a{
    font-size: 12px;
    color: #999;
    position: relative;
}
.login .registe a::after {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #ddd;
    position: absolute;
    left: -19px;
    top: 2px;
}

.login .registe a:first-child::after {
    display: none;
}