@charset "utf-8";

body {
    width: 100%;
    margin-top: 80px;
    overflow-x: hidden;
}


section .section-top {
    font-size: 16px;
    color: #878484;
    font-weight: 500;
    padding: 120px 0 40px;
}

section .section-top .filter {
    float: right;
}

section .section-top .filter p span:last-child {
    margin-left: 16px;
}

.section-top .count {
    float: left;
}

.section-top .count span {
    font-size: 20px;
    font-weight: 500;
    color: #5B1A7C;
}

article.list {
    margin-bottom: 160px;
}

.list ul li {
    width: 23%;
    margin: 1%;
    padding: 16px;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
}


ul li a .imgbox {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

ul li a .imgbox img {
    width: 100%;
    display: block;
}

ul li a .info {
    padding: 16px;
}

li a .info h3 {}

li a .info .tag {
    margin-bottom: 8px;
}

li a .info .tag p {
    display: inline-block;
    font-size: 14px;
    color: #878484;
}

li a .info .price {
    font-size: 14px;
    font-weight: 600;
    color: #d9d9d9;
    text-decoration: line-through;
}

.info .total-price p {
    font-size: 18px;
}

.info .total-price span {
    color: #9747FF;
    font-weight: 600;
    margin-right: 8px;
}

li a .info .review {
    background-image: url(../img/icon/star.png);
    background-repeat: no-repeat;
    font-size: 14px;
    color: #878484;
}

li a .info .review span {
    margin-right: 8px;
    position: relative;
    left: 24px;
    top: 0;
}

li a .info .review span img {
    width: 14px;
}